@font-face {
  font-family: "Epilogue";
  src: url("../fonts/Epilogue-Regular.woff2"),
    url("../fonts/Epilogue-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue";
  src: url("../fonts/Epilogue-ExtraBold.woff2"),
    url("../fonts/Epilogue-ExtraBold.woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue";
  src: url("../fonts/Epilogue-Black.woff2"),
    url("../fonts/Epilogue-Black.woff");
  font-weight: 900;
  font-style: normal;
}

body {
  box-sizing: border-box;
  min-width: 343px;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}